* {
	font-family: 'Courier New', sans-serif;
	background-color: #fdf8e1;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
}

.container {
	max-width: 80vw;
	margin: 5vh auto;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 28pt;
}

ul, li, ul > li {
	font-weight: bold;
	text-align: justify;
	line-height: 1.5em;
	font-size: 16pt;
	width: auto;
}

li {
	display: flex;
}

ul {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

ul.dashed {
	list-style-type: none;
}

ul.dashed > li:before {
	content: "- ";
	text-indent: 5px;
	position: absolute;
	margin-left: -1.3em;
}

.section {
	margin: auto;
}

.section > div {
	font-weight: bold;
	font-size: 16pt;
}

.section > h2 {
	cursor: pointer;
	margin-bottom: 0.4em;
}

@media (min-width: 1200px) {
	.section {
		max-width: 600px;
	}
}
